@import "~@sfem/breakpoint/lib/breakpoint";
@import '~@sfem/scss-sugars/lib/sugars';
@import '_scss-core/variables';
@import '_scss-core/functions';

.#{$sfem-grid-name}-wrap {
  padding: .1px; // hack for fixing unwanted outer margins
}

.#{$sfem-grid-name},
.#{$sfem-grid-box-name} {
  box-sizing: border-box;
}

.#{$sfem-grid-name} {
  // Wraps
  @include mq-generator(no-wrap) {
    flex-wrap: nowrap;
  }

  display: flex;

  min-width: 0;
  margin: -#{get-pad($sfem-grid-gap-base) / 2};

  flex-wrap: wrap;
  justify-content: flex-start;

  // vertical align

  @each $val in (flex-start flex-end center baseline stretch) {
    $key: str-replace($val, 'flex-');
    @include mq-generator(align-items, $key) {
      align-items: $val;
    }
  }

  // horizontal align

  @each $val in (flex-start flex-end center space-between space-around space-evenly) {
    $key: str-replace($val, 'flex-');

    @include mq-generator(justify-content, $key) {
      justify-content: $val;
    }
  }

  // grid gaps

  @each $num in $sfem-grid-gaps {
    @include mq-generator(gap, gap-postfix($num)) {
      margin: -#{get-pad($num) / 2};
    }
  }

  // displays

  @each $val in (block inline-block flex inline-flex) {
    @include mq-generator(display, $val) {
      display: $val;
    }
  }

  // direction

  @each $val in (column, row) {
    @include mq-generator(direction, $val) {
      flex-direction: $val;
    }
  }
}

.#{$sfem-grid-box-name} {

  // Basic modifers

  @include mq-generator(offset, auto) {
    margin-left: auto;
  }
  @include mq-generator(offset, '0') {
    margin-left: 0;
  }
  @include mq-generator(size, auto) {
    flex: 1;
  }
  @include mq-generator(size, min) {
    flex: 0 1 auto;
  }
  @include mq-generator(order, first) {
    order: -1;
  }
  @include mq-generator(order, last) {
    order: 999;
  }

  min-width: 0;
  max-width: 100%;
  padding: get-pad($sfem-grid-gap-base) / 2;

  @each $val in (auto flex-start flex-end center baseline stretch) {
    $key: str-replace($val, 'flex-');

    @include mq-generator(align-self, $key) {
      align-self: $val;
    }
  }

  // grid gaps

  @each $num in $sfem-grid-gaps {
      @include mq-generator(
        $mod: 'gap',
        $val: $num,
        $selector: '.#{$sfem-grid-name}',
        $postselector: ' > #{&}'
      ) {
        padding: #{get-pad($num) / 2};
      }
  }

  // Sizes

  @each $c in $sfem-grid-columns {
    $postfix: '';

    @if length($sfem-grid-columns) > 1 {
      $postfix: 'of#{$c}';
    }

    @for $i from 1 through $c {
      $w: 100 / $c * $i * 1%;

      @include mq-generator(order, $i + $postfix) {
        order: $i;
      }
      @include mq-generator(size, $i + $postfix) {
        max-width: $w;

        flex: 0 0 $w;
      }
      @include mq-generator(offset, $i + $postfix) {
        margin-left: $w;
      }
    }
  }
}
