$sugar-padding-list: (0, 8, 16) !default;
$sugar-ratio-list: ((1, 1), (3, 2), (4, 3)) !default;

$sugar-font-weight-list: (normal, bold) !default; // in map
$sugar-font-style-list: (italic, normal) !default; // in map
$sugar-text-align-list: (left, center, right, justify) !default; // in map
$sugar-vertical-align-list: (baseline, bottom, middle, sub, super, text-bottom, text-top, top) !default; // in map
$sugar-word-break-list: (normal break-all keep-all break-word) !default; // in map
$sugar-display-list: (inline, inline-block, flex, inline-flex) !default; // in map

$sugar-indent-types: ();
$sugar-indent-sides: (top right bottom left) !default;

// enablers

$all-sugar-props: (
  font-weight,
  font-style,
  text-align,
  display,
  vertical-align,
  word-break,
  ellipsis,
  paddings,
  margins,
  hiders,
  aspect-ratio,
  round
);

$enable-sugars: () !default;
$disable-sugars: () !default;

$css-sugars: enabled-sugars();

$sugar-map: (
  fw: (
    list: $sugar-font-weight-list,
    key: font-weight
  ),
  fs: (
    list: $sugar-font-style-list,
    key: font-style
  ),
  ta: (
    list: $sugar-text-align-list,
    key: text-align
  ),
  d: (
    list: $sugar-display-list,
    key: display
  ),
  va: (
    list: $sugar-vertical-align-list,
    key: vertical-align
  ),
  wb: (
    list: $sugar-word-break-list,
    key: word-break
  )
)
